

<div class="uk-padding">

    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">LOGIN</h3>
    
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="your email" 
            name="email" [(ngModel)]="person.email">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="password" placeholder="your password" 
            name="password" [(ngModel)]="person.password">
        </div>
 
        <div class="uk-margin">
            <button class="uk-button uk-button-primary" (click)="myLogin(person.email, person.password)">log in</button>
        </div>

    </fieldset>

</div>
</div>
