<div class="uk-padding">
    <table class="uk-table uk-table-hover">
        <thead>
          <div>
          <tr>

                <th>$key</th>
                <th>fName</th>
                <th>skill</th>
                <th>province</th>
                <th>price</th>
                <th>phone</th>
                <th>actions</th>

            </tr>
          </div>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemArray">
                <div *ngIf="item.uid === myUid">
                <td>{{item.$key}}</td>
                <td>{{item.fName}}</td>
                <td>{{item.skill}}</td>
                 <td>{{item.province}}</td>
                <td>{{item.price}}</td>
                <td>{{item.phone}}</td>

 <td><button class="uk-button uk-button-secondary uk-margin-small-right"
    (click)="editForm(item.$key)" type="button" uk-toggle="target: #modal-example">Edit</button>
                </td>
   <td><button class="uk-button uk-button-danger" (click)="onDelete(item.$key)">Delete</button></td>

            <!-- This is a button toggling the modal -->


<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input"  type="text" placeholder="your full name"
            name="fName" [(ngModel)]="user.fName">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="your phone number"
            name="phone" [(ngModel)]="user.phone">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="your skills"
            name="skill" [(ngModel)]="user.skill">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="province"
            name="province" [(ngModel)]="user.province">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="price"
            name="price" [(ngModel)]="user.price">
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Notes"
            name="notes" [(ngModel)]="user.notes"></textarea>
        </div>

    </fieldset>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-secondary" type="button"
            (click)="onEdit(item.$key)">
            Update</button>

        </p>
    </div>
</div>
</div>
       </tr>

        </tbody>
    </table>
</div>




